html {
    font-size: 22px;
}
body {
    background-color: rgb(161, 161, 161);
    color: bisque;
}
a  {
    color: brown;
}
a:visited {
 color: burlywood;
}
a:hover,a:active {
    color: crimson;
}